<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /magic
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . magic/index.html [L]
</IfModule>